
@{
    ViewBag.Title = "Men";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link href="~/Content/Home.css" rel="stylesheet" />
<div class="small-container">
    <div class="row">

        <div class="trend1">
            <img src="~/Content/images/sneaker3.png" />
            <h4>Jordan Why Not .5 PF</h4> <span>3,829,000₫</span>
            <button> Buy </button>
        </div>
        <div class="trend1">
            <img src="~/Content/images/mansneaker4.png" />
            <h4>Nike SB Zoom Verona Slip x Rayssa Leal</h4> <span>2,499,000₫</span>
            <button> Buy </button>
        </div>
        <div class="trend1">
            <img src="~/Content/images/sneaker5.png" />
            <h4>Nike Air More Uptempo '96</h4> <span>4,999,000₫</span>
            <button> Buy </button>
        </div>
        <div class="trend1">
            <img src="~/Content/images/sneaker6.png" />
            <h4>Nike Air Force 1 '07 LX</h4> <span>3,239,000₫</span>
            <button> Buy </button>
        </div>
    </div>
</div>


