
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/Content/images/logo1.png" />
<address>
    Contact Us<br />
    475, Dien Bien Phu, Phuong 25, Quan Binh Thanh, TPHCM<br />
    <abbr title="Phone">Phone:</abbr>
    0334.324.823
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SupportCodeForLifeTeam@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingCodeForLifeTeam@example.com</a>
</address>

