@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Code For Life Sneakers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

    <div class="banner1">
        <div class="small-container">
            <img src="~/Content/images/banner1.png" />
        </div>
    </div>

    <div class="content1">
        <p>The Future Is The Air</p>
        <h1>NIKE AIR MAX DAWN</h1>
        <a href="" class="btn">Shop</a>
    </div>

    <div class="banner2">
        <div class="small-container">
            <img src="~/Content/images/banner2.png" />
        </div>
    </div>

    <div class="content2">
        <p>Nike React Infinity Run Flyknit3</p>
        <h1>LOOKS GOOD. RUNS GOOD. FEELS GOOD.</h1>
        <p>Tested, Designed, and Created to Keep You Running</p>
        <a href="" class="btn">Shop Men's</a>
        <a href="" class="btn">Shop Women's</a>
    </div>

    <div class="Trending">
        <p>Trending</p>
        <div class="small-container">
            <div class="row">
                <div class="trend1">
                    <img src="~/Content/images/sneaker1.png" />
                    <h4>Nike Air Force 1 '07</h4> <span>2,929,000₫</span>
                    <button> Buy </button>
                </div>
                <div class="trend1">
                    <img src="~/Content/images/sneaker2.png" />
                    <h4>LeBron 19</h4> <span>5,869,000₫</span>
                    <button> Buy </button>
                </div>
                <div class="trend1">
                    <img src="~/Content/images/sneaker3.png" />
                    <h4>Jordan Why Not .5 PF</h4> <span>3,829,000₫</span>
                    <button> Buy </button>
                </div>
                <div class="trend1">
                    <img src="~/Content/images/mansneaker4.png" />
                    <h4>Nike SB Zoom Verona Slip x Rayssa Leal</h4> <span>2,499,000₫</span>
                    <button> Buy </button>
                </div>
                <div class="trend1">
                    <img src="~/Content/images/sneaker5.png" />
                    <h4>Nike Air More Uptempo '96</h4> <span>4,999,000₫</span>
                    <button> Buy </button>
                </div>
                <div class="trend1">
                    <img src="~/Content/images/sneaker6.png" />
                    <h4>Nike Air Force 1 '07 LX</h4> <span>3,239,000₫</span>
                    <button> Buy </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>